.main{
    height: 60%;
}

.boxcards{
    width: 100%;
    height: 90%;
    overflow: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.cards{
    width: 70%;
    display: inline-flex;
    justify-content: space-between;
}

